#header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero {
    
}

#menu {
   
    
}

.inicio, .nosotros, .comunidades, .mastech, .play, .contenidos, .social {
    text-decoration: none;
    text-transform: none;
    padding: 0px 10px 0px 10px;
    margin: 0 6px 0 0px;
    background-color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}